<hr>
<div class="text-center my-footer">
    <a class="up-arrow" href="#toTopTarget" data-toggle="tooltip" title="TO TOP">
        <i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
    </a>
    <br><br>
    <p><i class="fa fa-copyright" aria-hidden="true"></i>2016 - Erik Hage</p>
    <script>
        $(document.body).prepend('<div id="toTopTarget"></div>');
    </script>
</div>