<!-- NAVIGATION BAR -->
<% include navbar %>

<div id="jumbotron" class="jumbotron"
     style="background: url('../images/<%= jumbotronBackgroundImage %>') center center;">
    <div class="row">
        <div class="col-sm-3">
            <img class="logo img-responsive center-block" src="images/feralrooster.jpg">
        </div>
        <div class="col-sm-9 text-center">
            <h1><%= title %></h1>
            <p><%= subtitle %></p>
        </div>
    </div>
</div>