<!DOCTYPE html>
<html>
<head>
    <% include partials/headerCommon %>

    <title><%= title %></title>
</head>
<body>

    <!-- Header + Navbar -->
    <% include partials/pageHeader.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">

                <div class="about-item about-summary">
                    <h3>Personal Summary</h3>
                    <p>I'm an independent self starter, who looks for the most practical and efficient solution to a problem. To give myself more options to develop these solutions, I am constantly studying new paradigms and languages. I'm currently looking into Scala and functional programming. Aside from my day job I develop, host, and manage websites and am in the process of starting a small business.</p>
                    <p>I'm always looking for new ways to stay active, especially when it involves being outdoors. Running, skiing, kayaking, and hiking are some of my favorite things to do. On the weekends you might find me running the loop at Central Park or exploring a new part of the city.</p>
                </div>

                <div class="about-item about-objectives">
                    <h3>Objectives</h3>
                    <ul>
                        <li>To become an expert in multiple programming languages to allow me to solve more complex problems</li>
                        <li>To obtain a position working with the latest technologies, where I can grow and develop my skills</li>
                        <li>To start my own business to become more self-sufficient and independent</li>
                    </ul>
                </div>

                <div class="about-item about-work">
                    <h3>Work Experience</h3>
                    <div class="about-item-inner">
                        <h4>Credit Suisse</h4>
                        <h5>Application Developer | May 2013 - Present </h5>
                        <p>Coordinate with global team members to develop and support OTC derivative trade management software. This includes software upgrades, support tools, locating and fixing bugs, and monitoring system performance. Daily interactions with traders, COOs and middle office. Projects involve heavy use of Java, PL/SQL, XML, SVN, and teamwork skills.</p>
                    </div>
                    <div class="about-item-inner">
                        <h4>FDM Group</h4>
                        <h5>Java Developer | February 2013 - May 2015 </h5>
                        <p>Trained for four months in shell scripting, SQL, and Java. Completed projects to enhance these skills and learn to develop sustainable software. Heavy use of Test Driven Development and pair programming. Was placed at Credit Suisse after training for a two year contract. Was hired on as a full time Credit Suisse employee at the conclusion of the contract.</p>
                    </div>
                    <div class="about-item-inner">
                        <h4>The College of New Jersey</h4>
                        <h5>Adjunct Professor of Mechanical Engineering | August 2011 - December 2012 </h5>
                        <p>Taught statics (ENG222) to sophomores, and Fundamentals of Engineering Design (ENG142) to freshmen. Duties included writing lesson plans, preparing presentations, designing examinations and projects, lecturing, and evaluating student work. Designed a pulse detector circuit project for freshmen design students, and multiple C++ coding projects for sophomore students. These projects were handed over to my colleagues and some are still in use.</p>
                    </div>
                    <div class="about-item-inner">
                        <h4>The College of New Jersey</h4>
                        <h5>Research Assistant | May 2007 - May 2009 </h5>
                        <p>Performed cardio-respiratory control research involving the analysis of the inherent variability of human heart and breathing rates. ECG and respiratory data was gathered with electrodes and BIOPAC data acquisition software. Detrended fluctuation, autocorrelation, and Fourier transforms were used to analyze the collected data. We wrote a proposal to the Institutional Review Board describing the experiment and the relevant objectives. Our studies were published: Respiratory Physiology & Neurobiology 166 (2009) 87-94, Respiratory Physiology & Neurobiology 172(1-2) (2010) 72-80.</p>
                    </div>
                    <div class="about-item-inner">
                        <h4>Berkeley Sweet Shops</h4>
                        <h5>Manager | October 2000 - 2013 </h5>
                        <p>Started as an assistant in the kitchen, where my duties included prep work, cleaning, and cooking. After a few years I was promoted to a full cook and my duties expanded to include supervising the assistants. During this time I also worked as a customer service associate, which combined salesman, cashier, and customer service. I finished as a supervisor of over 20 customer service associates. I scheduled employees, handled money (registers, bookkeeping), managed customer complaints, and resolved disputes between employees. On two occasions I ran the entire business while the owner was recovering from surgery.</p>
                    </div>
                </div>

                <div class="about-item about-education">
                    <h3>Education</h3>
                    <div class="about-item-inner">
                        <h4>FDM Academy</h4>
                        <h5>February 2013 - May 2013</h5>
                        <p></p>
                    </div>
                    <div class="about-item-inner">
                        <h4>Boston University</h4>
                        <h5>August 2009 - January 2011</h5>
                        <h5>GPA: 3.59/4.0</h5>
                        <p>Master of Engineering, Biomedical Engineering</p>
                    </div>
                    <div class="about-item-inner">
                        <h4>The College of New Jersey</h4>
                        <h5>August 2005 - May 2009</h5>
                        <h5>GPA: 3.63/4.0 | Cum Laude</h5>
                        <p>Bachelor of Science, Engineering Science: Biomedical</p>
                        <p>Dean's List</p>
                        <p>Engineer in Training Certification</p>
                        <p>Involved in multiple papers published in Respiratory Physiology & Neurobiology</p>
                        <a class="tab" href="http://www.sciencedirect.com/science/article/pii/S1569904809000378" target="_blank">Gender and breathing route modulate cardio-respiratory variability in humans</a>
                        <br>
                        <a class="tab" href="http://www.sciencedirect.com/science/article/pii/S1569904810001643" target="_blank">Exercise modulation of cardiorespiratory variability in humans</a>
                    </div>
                    <div class="about-item-inner">
                        <h4>Lacey Township High School</h4>
                        <h5>September 2001 - June 2005</h5>
                        <p>School Paper - Editor</p>
                        <p>Gaming Club - Founding Member</p>
                        <p>Notional Honor Society</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

</body>
<footer>
    <% include partials/footer %>
</footer>
</html>
