<!DOCTYPE html>
<html>
<head>
    <% include partials/headerCommon %>

    <title><%= title %></title>
</head>
<body>

    <!-- Header + Navbar -->
    <% include partials/pageHeader.ejs %>

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <% hobbies.forEach(function(hobby) { %>
                    <div class="hobbies-item">
                        <h4><%= hobby.group %></h4>
                        <p><%= hobby.description %></p>
                        <div class="row">
                            <% pics[hobby.group].forEach(function(pic) { %>
                                <div class="img-container pop col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <img class="img-responsive img-thumbnail center-block"
                                         src="<%= hobby.picturesPath + pic %>">
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>

                <div class="hobbies-item">
                    <h4>Coding</h4>
                    <p>See my <a href="/projects">Projects</a> page</p>
                </div>
            </div>

            <div class="col-sm-1"></div>
        </div>
    </div>

    <div class="modal fade" id="imageModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <img src="" class="image-preview" style="width:100%">
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            $('.pop').on('click', function() {
                $('.image-preview').attr('src', $(this).find('img').attr('src'));
                $('#imageModal').modal('show');
            });
        });
    </script>

</body>
<footer>
    <% include partials/footer %>
</footer>
</html>
