<!DOCTYPE html>
<html>
<head>
    <% include partials/headerCommon %>

    <title><%= title %></title>
</head>
<body>

    <!-- Header + Navbar -->
    <% include partials/pageHeader.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 news-reel">

                <h1 class="news-title text-center">
                    <i class="fa fa-newspaper-o"></i>&nbsp;News
                </h1>
                <br>

                <% for(var i = 0; i<entries.length; i++) { %>

                    <div class="news-entry">
                        <h4 class="news-title"><%= entries[i].title %></h4>
                        <p class="news-date"> --
                            <%= entries[i].date.month + ' '
                              + entries[i].date.day + ', '
                              +  entries[i].date.year %>
                            --
                        </p>
                        <p class="news-content"><%- entries[i].content %></p>
                        <p>--------------------------------------------------</p>

                    </div>

                <% } %>

            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

</body>
<footer>
    <% include partials/footer.ejs %>
</footer>
</html>
