<!DOCTYPE html>
<html>
<head>
    <% include partials/headerCommon %>

    <title><%= title %></title>
</head>
<body>

    <!-- Header + Navbar -->
    <% include partials/pageHeader.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 news-reel">

                <h1 class="news-title text-center">
                    <i class="fa fa-newspaper-o"></i>&nbsp;News
                </h1>
                <br>
                <% entries.forEach(function(entry) { %>

                    <div class="news-entry">
                        <h4 class="news-title"><%= entry.title %></h4>
                        <p class="news-date"> --
                            <%= (entry.date.getMonth()+1) + '-'
                              + (entry.date.getDate()+1) + '-'
                              + entry.date.getFullYear() %>
                            --
                        </p>
                        <p class="news-content"><%- entry.content %></p>
                        <p>--------------------------------------------------</p>

                    </div>

                <% }); %>

            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

</body>
<footer>
    <% include partials/footer.ejs %>
</footer>
</html>
