body {
  font-family: 'Vollkorn', Georgia, Times, serif;
  color: white;
  background: url('../images/background.png') repeat 0 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  color: red;
}

p, div {

}

a {
  color: #00B7FF;
}

footer {
  color: white;
}

.jumbotron {
  position: relative !important;
  width:100% !important;
  height: 100% !important;
  background-size: cover !important;
  padding-top: 70px;
}

.jumbotron h1 {
  /* change to fancy font */
  color: red;
  font-weight: bolder;
  text-shadow: maroon 2px 2px;
}

.jumbotron p {
  /* change to fancy font */
  color: white;
  font-weight: bold;
  text-shadow: black 2px 2px ;
}

.jumbotron .logo {
  max-height: 180px;
  padding-left: 10px;
}

.news-reel {
  background: rgb(0,0,0);
  background: rgba(0,0,0, 0.6);
}

.news-reel .news-entry {

}

.news-reel .news-title {
  text-shadow: 1px 1px slategrey;
}

.news-reel .news-date {
  color: darkgrey;
  font-style: italic;
}

.news-reel .news-content {

}

.fa-newspaper-o {
  color: slategray;
}