body {
  font-family: 'Vollkorn', Georgia, Times, serif;
  color: white;
  background: url('../images/background.png') repeat 0 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  color: red;
}

p, div {

}

a {
  color: #00B7FF;
}

.tab {
  margin-left: 40px;
}

footer {
  color: white;
}

.jumbotron {
  position: relative !important;
  width:100% !important;
  height: 100% !important;
  background-size: cover !important;
  padding-top: 70px;
}

.jumbotron h1 {
  /* change to fancy font */
  color: red;
  font-weight: bolder;
  text-shadow: maroon 2px 2px;
}

.jumbotron p {
  /* change to fancy font */
  color: white;
  font-weight: bold;
  text-shadow: black 2px 2px ;
}

.jumbotron .logo {
  max-height: 180px;
  padding-left: 10px;
}

.page-title {
  white-space: nowrap;
}

.news-reel {
  border-radius: 10px;
  background: rgb(0,0,0);
  background: rgba(0,0,0, 0.6);
}

.news-reel .news-entry {

}

.news-reel .news-title {
  text-shadow: 1px 1px slategrey;
}

.news-reel .news-date {
  color: darkgrey;
  font-style: italic;
}

.news-reel .news-content {

}

.fa-newspaper-o {
  color: slategray;
}

/* SKILLS PAGE */
.panel-skills {
  background-color: transparent !important;
  color: white;
}

.panel-heading-skills {
  background-color: transparent !important;
  color: white;
}

.panel-title-skills {
  background-color: transparent !important;
  color: white;
}

.panel-group-skills {
  background-color: transparent !important;
  color: white;
}

.panel-skills h3 {
  color: white;
  text-shadow: 0 0 0;
}

/* ABOUT ME PAGE */

.about-item {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1px 10px 5px 10px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.6);
}

.about-item-inner {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
}

.about-item-inner h4 {
  color: darkgrey;
  text-shadow: darkblue 1px 1px;
}

.about-item-inner h5 {
  color: grey;
  text-shadow: darkblue 1px 1px;
}

.about-item-inner p {
  padding-left: 20px;
}

.about-summary {

}

.about-summary p {
  padding-left: 20px;
}

.about-objectives {

}

.about-work {

}

.about-education {

}

/* PROJECTS PAGE */

.projects-item {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1px 10px 5px 10px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.6);
}

.projects-item a,p {
  padding-left: 20px;
}

.projects-item p {
  color: white;
}

/* HOBBIES PAGE */
.hobbies-item {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1px 10px 5px 10px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.6);
}

.hobbies-item .img-container {
  min-height: 160px;
  min-width: 160px;
}

.hobbies-item img {
  max-height: 150px;
  max-width: 150px;
  margin-top: 10px;
}

/* ERROR PAGE */
.error-message {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1px 10px 5px 10px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.6);
}